.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

.wrapper:first-child {
  justify-self: end;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.input {
  margin-bottom: 20px;
  font-size: 18px;
}

.name {
  font-weight: bold;
  text-transform: capitalize;
}

.button {
  display: block;
  padding: 8px 20px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease;
}

.button:hover,
.button:focus {
  color: #fff;
  background-color: rgb(73, 100, 189);
}

.input:focus,
.button:focus,
.deleteBtn:focus {
  outline: 2px solid rgb(14, 9, 78);
}

.list {
  width: 350px;
  padding: 0;
  margin: 20px 20px 20px 0;
  list-style-type: none;
}

.list-item {
  display: grid;
  grid-template-columns: 45% 35% 20%;
  padding: 8px 10px 8px 20px;
  border-bottom: 1px solid rgba(73, 100, 189, 0.534);
}

.deleteBtn {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease;
}

.deleteBtn:hover,
.deleteBtn:focus {
  color: rgb(14, 9, 78);
  background-color: rgb(252, 170, 170);
}
